@function test() {
	@return 'foo, bar, foo + bar';
}

/* this will return $one$two, respecting name vars on the input */
@function named($one: '', $two: '') {
	@return $one + $two;
}

/* this will return $one$two, ignoring of named vars on the input */
@function unnamed($one, $two) {
	@return $one + $two;
}

#{test()} {
	color: blue;
	named: named(bar, $one: foo);
	unnamed: unnamed(bar, $one: foo);

	adjust-color: adjust-color(#00F, $blue: -15);
}
