#other-color {
  background: #f28500;
  background: #ff920e;
  background: rgba(242, 133, 0, 0.5); }

#more-other-color {
  background: #d4f7d4;
  background: #c85ae5;
  background: rgba(200, 205, 208, 0.7); }
